.shape {
  position: absolute;
  pointer-events: none;
  animation: float var(--transition-slow) infinite;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid;
  filter: drop-shadow(var(--shadow-card));
}

@keyframes float {
  0% {
    translate: 0 0;
  }

  50% {
    translate: 0 -15px;
  }

  100% {
    translate: 0 0;
  }
}